* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.db-search {
  display: flex;
  list-style: none;
  padding-right: 2rem;
}

.db-search li {
  text-decoration: none;
  background: none;
}

.db-search img:hover {
  cursor: pointer;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 800px;
  height: auto;
 
}
