html,
body {
  height: 100%;
  width: 100%;
  background-color: #f9f8f8;
}

.wrapperRight {
  display: flex;
  height: 55px;
  justify-content: flex-end;
}

.wrapperRight > ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-right: 85px;
}

.wrapperRight ul li {
  padding: 7px 2rem;
}

.wrapperRight ul li div {
  cursor: pointer;
}
